header{
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid black;
  .logo{
    img{
      position: absolute;
      width: 2%;
      top: 33%;
      left: 1%;
    }
    h1{
      padding-left: 45px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
  .menu{
    ul{
      li{
        display: inline-block;
        padding-left: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        button{
          color: blue;
          padding: 6px;
          border: blue 1px solid;
          border-radius: 10%;
        }
      }
    }
  }
}
