main{
  padding-top: 70px;
  section{
    padding-bottom: 48px;
    .conteiner{
      max-width: 1180px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2{
      flex-basis: 50%;
      font-size: 50px;
      padding-bottom: 24px;
      }
      .p-size{
        font-size: 26px;
        padding-bottom: 24px;
      }
      button{
        padding: 7px;
      }
      .or{
        padding-left: 12px;
        padding-right: 12px;
      }
      .bottom-button{
        padding-top: 24px;
      }
      img{
      width: 100%;
      }
    }
    .conteiner2{
      max-width: 1180px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      .cont-t{
        display: flex;
        justify-content: center;
        h3{
          padding-top: 48px;
          padding-bottom: 24px;
          font-size: 26px
        }
      }
      .cont-img{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 860px;
        margin: 0 160px;
        padding-bottom: 48px;
      }
      .ridimensionamento{
        display: flex;
        flex-direction: column;
        max-width: 140px;
        margin: 20px auto;
        img{
          width: 100%;
          padding-bottom: 12px;
        }
        .riduci{
          width: 50%;
        }
      }
      .cont-before{
        display: flex;
        justify-content: center;
        img{
          width: 25%;
          padding-bottom: 48px;
        }
      }
      .linea{
        height: 3px;
        width: 100%;
        background-color: grey;
      }
    }
  }
  .colore{
    background-color: #FFE7D2;
    .prefooter{
      display: flex;
      flex-direction: column;
      align-items: center;
      .title-4-phase{
        display: flex;
        justify-content: center;
        align-items: center;
        h3{
          font-size: 35px;
          padding-top: 48px;
          padding-bottom: 48px;
        }
        button{
          padding: 7px;
        }
        .or{
          padding-left: 12px;
          padding-right: 12px;
        }
      }
      .bottom-button{
        padding-top: 24px;
      }
      .cont-cubo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 48px;
        .cubo{
          background-color: white;
          border: 1px black solid;
          max-width: 476px;
          p{
            padding: 48px;
            font-size: 23px;
          }
        }
        .cont-butt{
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .distanza{
    padding-top: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    .dist-cont-right{
      padding-right: 100px;
      display: flex;
      justify-content: flex-end;
      max-width: 43%;
      img{
        width: 100%
      }
    }
    .dist-cont-left{
      max-width: 420px;
      margin-right: 14%;
      h4{
        padding-bottom: 24px;
      }
      p{
        padding-bottom: 24px;
      }
      img{
        width: 75%;
      }
    }
    .dist-cont-left2{
      max-width: 420px;
      margin-left: 14%;
      h4{
        padding-bottom: 24px;
      }
      p{
        padding-bottom: 24px;
      }
      img{
        width: 75%;
      }
    }
  }
}
